// Colors
$white: white;
$prim: hsl(255, 60%, 45%);
$prim-lighter-gray: hsl(255, 28%, 75%);
$prim-light-gray: hsl(255, 28%, 60%);
$sec: hsl(275, 100%, 50%);
$sec-light: hsl(250, 100%, 80%);

$gray: hsl(228, 3%, 70%);
$gray-dark: hsl(210, 2%, 49%);
$text: hsl(204, 2%, 43%);
$gray-darker: hsl(220, 1%, 41%);

$blue-light: hsl(180, 25%, 97%);
$blue: hsl(215, 75%, 60%);
$blue-gray-lightest: hsl(215, 30%, 75%);
$blue-gray-lighter: hsl(215, 30%, 70%);
$blue-gray: hsl(215, 30%, 61%);
$blue-dark: hsl(215, 50%, 55%);
$blue-darker: hsl(215, 50%, 45%);
$blue-darkest: hsl(215, 30%, 25%);

$green-gray-darker: hsl(120, 15%, 55%);
$green: hsl(120, 30%, 60%);
$green-light-gray: hsl(120, 10%, 75%);
$green-gray: hsl(120, 10%, 70%);

$mac-red: hsl(358, 100%, 85%);
$mac-yellow: hsl(52, 100%, 85%);
$mac-green: hsl(108, 100%, 85%);

// Breakpoints
$xxl: 1550px;
$xl: 1200px;
$lg-xl: 1100px;
$lg: 992px;
$md: 768px;
$sm-md: 660px;
$sm: 576px;
$xs: 500px;
$xxs: 400px;