.header {
    background: $blue-darkest;
    word-break: break-word;
    position: relative;

    .banner {
        position: relative;
        height: 100%;

        .name {
            z-index: 3;
            position: relative;
            font-size: 7.2rem;
            color: $blue-light;
            margin-left: 13rem;
            padding-top: 4rem;
            margin-right: 5rem;
            line-height: 1.8;

            .full-name {
                font-weight: normal;
                border-bottom: 1rem solid $prim;
            }

            .rest {
                font-weight: 100;
                letter-spacing: -1px;
            }
        }

        .bg {
            position: absolute;
            right: 0;
            top: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            opacity: .4;
        }

        .slogan {
            z-index: 3;
            position: relative;
            margin-top: 1.5rem;
            letter-spacing: 1px;
            color: $blue-light;
            margin-left: 13rem;
            padding-bottom: 15rem;
            margin-right: 5rem;

            .more {
                font-weight: 100;
            }
        }

        .icon-container {
            bottom: 0%;
            transform: translateY(50%);
            position: absolute;
            width: 100%;
            z-index: 2;
            padding: 0 2rem;
        }

        .icons {
            display: inline-flex;
            flex-wrap: wrap;
            background: rgba($gray, .85);
            backdrop-filter: blur(1rem);
            filter: blur(0);
            justify-content: center;
            transform: translateX(-50%);
            position: relative;
            left: 50%;
            gap: 2rem;
            padding: 2rem;
            border-radius: 5rem;

            img {
                max-width: 150px;
                width: 100%;
            }
        }
    }

    // .header => media queries
    @media only screen and (max-width: $lg) {
        .banner {
            .name {
                font-size: 6.2rem;
                margin-left: 5rem;
                padding-top: 3rem;
            }

            .icons {
                img {
                    max-width: 110px;
                }
            }

            .slogan {
                margin-left: 5rem;
                padding-bottom: 12rem;
                margin-top: 1rem;
            }
        }
    }

    @media only screen and (max-width: $md) {
        .banner {
            .name {
                font-size: 5.2rem;
                margin-left: 5rem;
            }

            .icons {
                img {
                    max-width: 90px;
                }
            }

            .slogan {
                margin-left: 5rem;
                padding-bottom: 10rem;
                margin-top: .5rem;
            }
        }
    }

    @media only screen and (max-width: $sm-md) {
        .banner {

            .icons {
                gap: 1.5rem;
                padding: 1.5rem;

                img {
                    max-width: 80px;
                }
            }

            .slogan {
                padding-bottom: 9rem;
            }
        }
    }

    @media only screen and (max-width: $sm) {
        .banner {
            .name {
                font-size: 4.2rem;
                margin-left: 4rem;
                margin-right: 4rem;
            }

            .slogan {
                margin-top: 0;
                margin-left: 4rem;
                margin-right: 4rem;
            }

            .icons {
                img {
                    max-width: 70px;
                }
            }
        }
    }

    @media only screen and (max-width: $xs) {
        .banner {
            .name {
                font-size: 3.7rem;
                margin-left: 3rem;
                margin-right: 3rem;
            }

            .slogan {
                margin-left: 3rem;
                margin-right: 3rem;
                padding-bottom: 7rem;
            }

            .icons {
                img {
                    max-width: 50px;
                }
            }
        }
    }


    @media only screen and (max-width: $xxs) {
        .banner {
            .name {
                font-size: 3.7rem;
                margin-left: 3rem;
            }

            .slogan {
                margin-left: 3rem;
                padding-bottom: 5rem;
            }

            .icons {
                gap: 1rem;
                padding: 1rem;

                img {
                    max-width: 40px;
                }
            }
        }
    }

    @media only screen and (max-width: 380px) {
        .banner {
            .name {
                margin-left: 2rem;
                margin-right: 2rem;
            }

            .slogan {
                margin-left: 2rem;
                margin-right: 2rem;
            }

            .icons {
                gap: 1rem;
                padding: 1rem;

                img {
                    max-width: 40px;
                }
            }
        }
    }
}

.scroll-arrow {
    width: 8rem;
    height: 8rem;
    background: rgba(darken($prim, 5), .5);
    position: fixed;
    right: 4rem;
    bottom: 4rem;
    z-index: 7;
    border-radius: 50%;
    display: flex;
    align-items: center;
    cursor: pointer;
    backdrop-filter: blur(.2rem);
    transition: background .4s ease-in;

    svg {
        fill: $blue-light;
        transform: rotate(180deg) translateY(0);
        width: 65%;
        margin: 0 auto;
        left: 50%;
        transition: transform 0.4s ease-in-out;
    }

    @media (pointer: fine) {

        &:hover,
        &:focus-within {
            background: rgba($prim, 1);

            svg {
                transform: rotate(180deg) translateY(1rem);
            }

            ~.scroll-bottom-fade {
                opacity: 1;
                transform: translateY(0);
            }
        }
    }

    @media only screen and (max-width: $lg) {
        transition-duration: .45s;

        svg {
            transition-duration: .45s;
        }
    }

    @media only screen and (max-width: $md) {
        right: 3rem;
        bottom: 3rem;
    }

    @media only screen and (max-width: $sm) {
        right: 2rem;
        bottom: 2rem;
    }
}

.scroll-bottom-fade {
    width: 100%;
    position: fixed;
    height: 16rem;
    background: linear-gradient(180deg, transparent, rgba($black, .3));
    bottom: 0;
    z-index: 6;
    opacity: 0;
    transform: translateY(100%);
    transition: transform .3s ease-in-out, opacity .4s ease-in-out;

    @media only screen and (max-width: $lg) {
        transition-duration: .45s;
    }
}