.js-modal-focus {
    overflow: hidden;
}

.js-remove-item {
    display: none;
}

.js-sections {

    .list-of-skills,
    .projects {
        display: none;
    }
}

.no-js {
    .about-me {
        .wheel-icon {
            display: none;
        }
    }

    .list-of-skills,
    .projects {
        display: block !important;
    }

    .projects {
        .scroll-arrow {
            z-index: 22;
        }
    }

}