.js-modal-focus {
    overflow: hidden;
}

.js-remove-item {
    display: none;
}

.js-sections {

    .list-of-skills,
    .projects {
        display: none;
    }
}

.no-js {
    .about-me {
        .wheel-icon {
            display: none;
        }
    }

    .list-of-skills,
    .projects {
        display: block !important;
    }
}

.js-display-block-important {
    display: block !important;
}

.js-scroll-bottom-fade {
    opacity: 1 !important;
    transform: translateY(0) !important;
}

.js-arrow-rotate-bg {
    background: rgba($prim, 1) !important;

    svg {
        transform: rotate(180deg) translateY(1rem) !important;
    }
}